body{
    margin: 0;
    padding: 0;
    background-color: #3E0A6B;
}
/*en el container lo que hice fue volverlo flexible y añadirle el wrap, tabien centre el contenido y le agregue una margen y el color de la fuente*/
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10em 0em 10em 0em;
    flex-wrap: wrap;
    color: #fff;
}
/*puse el espaciado entre los elementos del formulario*/
.elementForm{
    margin: 1em;
}
/*le añadi el borde al formulario*/
.formulary{
    border: 5px solid #620FAB;
}

/*le indique al boton que flotara para estar igual que el mock*/
.search{
    float: left;
    margin: 3em;
}

/*aqui edite y decore a los dos botones*/
.search, .buttom{
    color: #fff;
    background-color: #8E16F7;
    border-radius: 5px;
    border: 5px solid #000;
    width: 100%;
}

